@CHARSET "UTF-8";
/* CSS Document */
.body {
	margin: 0px;
	padding: 0px;
	background: url(../images/background.png) ;
	font-family: "宋体", Arial, sans-serif;
}

a img {
	margin: 0px;
	padding: 0px;
	border: none;
}

p {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	color: #39485b;
	font-family: "宋体", Arial, sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

form {
	margin: 0px;
	padding: 0px;
}

.clear{
	margin: 0px;
	padding: 0px;
	border: 1px solid gray;
	clear: both;
	background-color: #FF0000;
}

.wrapper {
	margin: 0px auto;
	padding: 0px;
	width: 1000px;
}

/*----------------------------------banner------------------------------*/
.banner {
	background-color: #FFFFFF;
	height: 240px;
	color: blue;
}

/*----------------------------------mainnav------------------------------*/
.mainnav {
	height: 40px;
	background: url(../images/mainnav.jpg) repeat-x;
	border-left-color:blue;
	border:2px;
}

.mainnav ul {
	padding: 0px 0px 0px 30px;
	margin: 0px auto;
}

.mainnav ul li {
	float: left;
	margin: 0px;
	line-height: 40px;
	cursor: pointer;
}

.mainnav ul li a {
	display: block;
	padding: 0px 27px 0px 27px;
	max-width: 72px;
	height: 40px;
	font-size: 13px;
	color: #036;
	text-decoration: none
}

.mainnav ul li a:hover {
	color: #f60;
	text-decoration: underline
}

.mainnav ul li a:visited {
	color: #f60;
	text-decoration: none
}

/*------------------content------------------------*/
.content {
	min-height: 650px;
	/*	background: #fafbfd url(menu_bg.jpg) repeat-x repeat-y; */
}


/*------------------content left------------------------*/
.content .left iframe {
	float: left;
	border: none;
	margin: 0px 0px;
	padding: 0px 0px;
	width: 172px;
	height: 648px;
}


/*----------------content right---------------------*/
.content .right {
	float: left;
	margin: 0px ;
	padding: 0px 40px 0px 0px;
	width: 597px;
}


/*----------------text---------------------*/
.content .right .text {
	padding: 0px;
	margin: 0px;
}

.content .right .text img {
	margin: 0px;
	padding: 30px 0px 15px 0px;
}

.content .right .text p {
	line-height: 24px;
	text-indent: 40px;
}

.content .right .text a {
	color: #3ca5e8;
}

.content .right .text a:hover {
	color: #FF9900;
}

/*----------------list---------------------*/
.content .right .list {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.content .right .list img.title {
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

.content .right .list div.title {
	margin: 0px;
	padding: 20px 0px 20px 0px;
	color: #000000;
	font-size: 30px;
	font-family: "微软雅黑", "宋体";
	text-align: left;
	line-height: 30px;
}

.content .right .list ul {
	padding: 0px 0px 0px 30px;
}

.content .right .list ul li {
	line-height: 30px;
}

.content .right .list ul li a {
	display: block;
	width: 530px;
	height: 30px;
	background: url(../images/sanjiao2.png) left no-repeat;
	text-indent: 20px;
}

.content .right .list ul li a:hover {
	color: #FF9900;
}

.content .right .list .more {
	float: right;
	padding: 0px;
	margin: 0px;
}

.content .right .list .more a {
	display: block;
	width: 115px;
	height: 26px;
	background: url(../images/more.png) no-repeat left;
	text-indent: 40px;
	line-height: 26px;
}

.content .right .list .more a:hover {
	color: #0692ce;
}

/*--------------------article----------------------*/
.content .right .article .title {
	margin: 0px;
	padding: 30px 0px 10px 0px;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 30px;
	color: #000000;
	text-align: center;
	line-height: 30px;
}

.content .right .article .description {
	margin: 0px;
	padding: 10px 0px 15px 0px;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 14px;
	color: #0692ce;
	text-align: center;
	line-height: 12px;
}

.content .right .article .content {
	margin: 0px;
	padding: 0px;
	background: none;
}

/*--------------------group----------------------*/
.content .right .group .title {
	margin: 0px;
	padding: 30px 0px 10px 0px;
	color: #000000;
	font-size: 30px;
	font-family: "微软雅黑", "黑体", "宋体";
	text-align: left;
	line-height: 30px;
}

.content .right .group .research {
	margin: 0px;
	padding: 0px;
	color: #0692ce;
	font-size: 14px;
	text-indent: 15px;
}

.content .right .group .introduction {
	padding: 15px 0px 0px 0px;
	margin: 0px;
}

.content .right .group .introduction p {
	line-height: 24px;
	text-indent: 30px;
}

.content .right .group .member {
	padding: 10px 0px 0px 0px;
	color: #39485b;
	font-size: 12px;
	text-indent: 30px;
}

/*--------------------member----------------------*/
.content .right .member {
	margin: 0px;
	padding: 0px;
}

.content .right .member .title {
	margin: 0px;
	padding: 30px 0px 20px 0px;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 30px;
	color: #000000;
	text-align: left;
	line-height: 30px;
}

.content .right .member .information {
	margin: 0px;
	padding: 10px 0px;
}

.content .right .member .information .face {
	float: left;
	margin: 0px;
	padding: 0px 10px 10px 0px;
	width: 210px;
	height: 210px;
}

.content .right .member .information h3 {
	margin: 3px 0px;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #0692ce;
	line-height: 24px;
}

.content .right .member .information p {
	padding: 0px 10px;
	line-height: 24px;
	text-indent: 30px;
}

.content .right .member .information .more {
	float: right;
	padding: 0px;
	margin: 0px;
}

.content .right .member .information .more a {
	display: block;
	width: 115px;
	height: 26px;
	background: url(../images/more.png) no-repeat left;
	text-indent: 40px;
	line-height: 26px;
}

.content .right .member .information .more a:hover {
	color: #0692ce;
}

/*-----------------pagerbar----------------*/
.content .pagerbar {
	margin: 20px 40px;
	padding: 4px 0px 0px 0px;
	width: auto;
	height: 16px;
	font-size: 12px;
	text-align: center;
	border-top: solid 1px #cfced3;
}

.content .pagerbar a {
	display: inline;
}

/*-------------error------------*/
.content .error {
	margin: 0px;
	padding: 50px 0px;
}

.content .error table {
	margin: 0px auto;
	padding: 0px;
	font-size: 12px;
}

/*-----------------footer----------------*/
.footer {
	background: url(../images/bg_6.jpg) repeat-x;
	height: 45px;
}

.footer .center {
	margin: 0px auto;
	width: 700px;
}

.footer .center p {
	float: left;
	padding-right: 5px;
	line-height: 45px;
}
